[submodule "RAN/aurora"]
	path = RAN/aurora
	url = https://github.com/whitedevil-iith/aurora.git
[submodule "AURORA_Blocks/1_RootCauseAnalysis/smo/o1"]
	path = AURORA_Blocks/1_RootCauseAnalysis/smo/o1
	url = https://gerrit.o-ran-sc.org/r/smo/o1
[submodule "AURORA_Blocks/1_RootCauseAnalysis/o2"]
	path = AURORA_Blocks/1_RootCauseAnalysis/o2
	url = https://gerrit.o-ran-sc.org/r/smo/o2
[submodule "AURORA_Blocks/1_RootCauseAnalysis/smo/o2"]
	path = AURORA_Blocks/1_RootCauseAnalysis/smo/o2
	url = https://gerrit.o-ran-sc.org/r/smo/o2
